<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="monitoringLocation">
    <resultMap id="result" type="MonitoringLocation">
	<id property="id" column="legacy_location_id" />
	<result property="agencyCode" column="agency_cd" />
    </resultMap>
    
    <sql id="baseCols">
	legacy_location_id, agency_cd
    </sql>
    
    <select id="getById" parameterType="String" resultMap="result">
	select <include refid="baseCols"/> from mlr_legacy_data.legacy_location
	where legacy_location_id = #{value, jdbcType=BIGINT}
    </select>
    
    <select id="getByMap" parameterType="Map" resultMap="result">
	select <include refid="baseCols"/> from mlr_legacy_data.legacy_location
	<where>
	    <if test="agencyCode != null">
		and agency_cd = #{agencyCode}
	    </if>
	</where>
    </select>
    
    <insert id="create" parameterType="MonitoringLocation"
	    useGeneratedKeys="true" keyProperty="id">
	insert into mlr_legacy_data.legacy_location(agency_cd)
	    values(#{agencyCode, jdbcType=CHAR})
    </insert>
    
    <update id="update" parameterType="MonitoringLocation">
	update mlr_legacy_data.legacy_location 
	set agency_cd = #{agencyCode, jdbcType=CHAR}
	where legacy_location_id = #{id, jdbcType=BIGINT}
    </update>
</mapper>